@import "./colors.scss";
@import "../styles/mixins.scss";

.section {
  //!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ анимация по классу hidden
  &.hidden {
    .editions {
      &-item {
        transform: translate 0;
        transform: translateX(-2000px);
      }
    }
    h2 {
      transition: opacity 0s;
      opacity: 0;
    }
    .dual,
    .explore-info {
      transition: column-gap 0s;
      column-gap: 250%;
    }
    .video {
      transform: transform 0s;
      transform: scale(0);
    }
    .news {
      opacity: 0;
      transition: transform 0s;
      transform: translateY(-200%);
    }
    .faq-item {
      transition: transform 0s;
      transform: translateX(-200%);
    }
  }

  &-main {
    padding-top: 40px;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 70vh;
  }
  &:after,
  &:before {
    height: 764px;
    width: 1363px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  &:after {
    background: url(../images/snow.gif) no-repeat center/cover;
    opacity: 0.1;
  }
  &:before {
    background: url(../images/bg.png) no-repeat center/cover;
  }
}
//! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~animation

//! _______________________________________________________________header
.header {
  align-items: center;
  &-menu {
    align-items: center;
    &__button {
      width: 25px;
      height: 16px;
      cursor: pointer;
      transition: width 0.25s;

      span {
        width: 25px;
        height: 2px;
        background: $white;
        position: relative;
        display: block;
      }

      &::after,
      &::before {
        display: block;
        content: "";
        width: 12px;
        height: 2px;
        background: $white;
        position: absolute;
        transition: width 0.25s;
      }

      &::after {
        top: 72px;
        width: 12px;
      }

      &::before {
        width: 25px;
        top: 79px;
      }
    }
    &__list {
      margin-left: 50px;
      z-index: -1;
      transition: all 0.5s ease;

      ul {
        column-gap: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
        transform: translate(-200px);
        opacity: 0;
      }
    }
    //?_____________________ menu
    &__link {
      position: relative;
      color: $sea;
      transition: color 0.25s;

      &:hover {
        color: $dark;
      }

      &.lang {
        color: $white;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
          .header-menu__languages {
            display: block;
          }
        }
        svg {
          width: 12px;
          height: 12px;
          fill: $white;
          transform: rotate(180deg);
          margin-right: 9px;
        }
      }
    }
    //?_____________________ menu lang
    &__languages {
      padding: 10px 15px;
      border-radius: 6px;
      background: $dark;
      position: absolute;
      top: 100%;
      display: none;
    }

    &__language {
      font-weight: 500;
      cursor: pointer;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5);
      transition: color 0.25s;

      &:hover {
        color: $violet;
      }
    }
  }
  //?_____________________ burger
  &.opened {
    .header {
      &-menu {
        &__button {
          span {
            width: 12px;
          }
          &::after {
            width: 25px;
          }
          &::before {
            width: 12px;
          }
        }
        &__list {
          z-index: 1;

          ul {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 0.2s, transform 0.25s;
          }
        }
      }
    }
  }
  //?_____________________ timer
  &-timer {
    margin-left: auto;
    column-gap: 19px;

    &__item {
      text-align: center;
    }
    &__release {
      color: $sea;
      font-size: 22px;
      span {
        font-size: 18px;
      }
    }
    span {
      font-weight: 400;
      line-height: 18px;
      color: $grey;
    }
    &__values {
      column-gap: 10px;
    }
    &__item {
      color: $sea;

      &-value {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        min-width: 55px;
        text-align: center;
      }
      &-info {
        text-align: center;
        font-weight: 400;
      }
    }
  }
}
.mounth {
  font-size: 55px;
}
.seconds {
  font-size: 18px;
  text-align: left;
}

//?_____________________ descrt
.description {
  margin-top: 7%;
  max-width: 540px;
  animation: move 1s ease-in-out;
  &-title {
    h1 {
      font-weight: 600;
      font-size: 100px;
      line-height: 100px;
    }
  }
  &-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $sea;
    margin-top: 26px;
  }
  &-button {
    @include button;
    @include hoverViolet;
    margin-top: 30px;
  }
}
//!_________________________________header

//!_______________________________________________________________edition
.editions {
  h2 {
    @include title;
  }

  &-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 16px;
    justify-content: center;
  }
  &-item {
    background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
    border-radius: 6px;
    padding: 17px;
    transition: transform 0.25s ease-in-out;
    transform: translateX(0);

    &:nth-child(2) {
      transition-delay: 0.25s; //! анимация карточек
    }
    &:last-child {
      transition-delay: 0.5s; //! анимация карточек
    }
    &__img {
      border-radius: 6px;
      overflow: hidden;
      width: 100%;
      height: 172px;
      @include bg;
    }
    &__title {
      margin-top: 20px;
      font-weight: 700;
      line-height: 19px;
      text-align: center;
    }
    &__suptitle {
      color: $sea;
      line-height: 19px;
      font-weight: 500;
      text-align: center;
      margin: 10px 0 32px 0;
    }
    &__desc {
      color: $grey;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }
    &__price {
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
      color: $white;
      margin: 6px 0 14px 0;
      text-align: right;
    }
    &__btn {
      @include button;
      @include hoverViolet;
      padding: 8px 18px;
      font-size: 13px;
      line-height: 15px;
      margin-left: auto;
    }
  }
}
//!_______________________________ edition

//!_______________________________________________________________ dual
.dual-title {
  margin-top: 50px;
  @include title;
}
//?_____________________ desc
.dual {
  column-gap: 5%;
  margin-top: 20px;
  transition: column-gap 0.5s;
  //?_____________________ desc
  &-desc {
    max-width: 410px;

    p {
      color: $sea;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 22px;
    }

    span {
      font-weight: 700;
    }

    &__info {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      justify-content: space-between;
      align-items: center;
    }
    &__btn {
      @include hoverOrange;
      @include button($orange);
      font-size: 15px;
      line-height: 17px;
      padding: 14px 19px;
    }
  }
  &-img {
    max-width: 50%;
    position: relative;

    img {
      max-width: fit-content;
      animation: gravity 1.5s linear infinite alternate;
    }
  }
}
//!_______________________________ dual

//!_______________________________________________________________ video
.title {
  @include title;
  padding-top: 50px;
}
.video {
  position: relative;
  margin-top: 32px;
  transition: transform 0.5s;
  transform: scale(1);
  video {
    width: 100%;
    height: auto;
  }
  &-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;

    &.hidden {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }
  &-title {
    @include title;
    padding-bottom: 20px;
  }
  &-btn {
    @include button($dark);
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    transition: background 0.25s;
    text-transform: uppercase;

    &:hover {
      background: #525c67;
    }
  }
}
//!________________________________ video

//!_______________________________________________________________ explorer
.explore {
  &-items {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }
  &-item {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    text-align: center;
  }
  &-switch {
    margin: 20px 0 85px;
    column-gap: 15px;

    &__checkbox {
      width: 54px;
      height: 25px;
      background: $dark;
      border-radius: 12px;
      position: relative;

      input {
        position: absolute;
        width: 49px;
        height: 27px;
        right: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 2;

        &:checked {
          & + span {
            transform: translateX(28px);
            transition: transform 0.5s;
          }
        }
      }

      span {
        border-radius: 50%;
        background: $violet;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        left: 4px;
        transform: translate(0);
        transition: transform 0.25px;
      }
    }
    &__title {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: $dark;

      &.active {
        color: $white;
      }
    }
  }
  &-info {
    column-gap: 5%;
    transition: column-gap 0.5s;
    .start {
      text-align: start;
    }
    .start-btn {
      margin-right: auto;
    }
    &.reverse {
      flex-direction: row-reverse;
      .end {
        text-align: end;
        .end-btn {
          display: inline-block;
        }
      }
    }
  }
  &-btn {
    @include button;
    padding: 10px 20px;
    margin-left: 0 auto;
    margin-top: 10px;
    transition: all 0.5s ease;
    @include hoverViolet;
  }
  &-img {
    text-align: center;
    display: flex;
    align-items: center;

    &__wrap {
      width: 300px;
      height: 300px;
      border-radius: 12px;
      @include bg;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 61px;
        height: 140px;
        background: $orange;
        filter: blur(75px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0.8;
      }

      img {
        max-width: unset;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  &-discr {
    min-width: max-content;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 300px;
    transition: transform 0.5s ease;

    ul {
      display: none;
      transition: transform 0.5s;

      &.active {
        display: block;
        transition: transform 0.5s;
      }
    }
  }
  &-ls {
    flex: 1 1 auto;
  }
}

//!_________________________________ dual

//!_______________________________________________________________ news
.news-title {
  padding-top: 80px;
  margin-bottom: 20px;
}
.news {
  transition: transform 0.5s;
  transform: translate(0);
  &-item {
    &__info {
      flex-direction: column;
      width: 470px;
      height: 270px;
      padding: 12px;
      background: linear-gradient(180deg, #141615 0%, #1c2038 100%);
      border-radius: 12px;
    }
    &__box {
      display: flex;
      justify-content: space-between;
      &-subtitle {
        font-size: 10px;
        color: $violet;
        font-weight: 600;
      }
      &-data {
        font-size: 10px;
        color: $dark;
        font-weight: 400;
      }
    }
    &__title {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }
  .content {
    display: flex;
    column-gap: 25px;
    height: 175px;

    &-img {
      width: 50%;
      @include bg;
      border-radius: 12px;
      img {
        width: 270px;
        height: 248px;
      }
    }

    &-text__box {
      width: 50%;
    }
    &-text {
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: #d9d9d9;
      margin-bottom: 10px;
      height: 137px;
    }
    &-btn {
      @include button(#8c96a0);
      @include hoverViolet;
      padding: 5px 15px;
      display: block;
      margin-left: auto;
      transition: all 0.5s ease;
      font-size: 12px;
    }
  }
}
//!_____________________________________ news

//!_______________________________________________________________ faq

.faq {
  margin-top: 100px;
  &-title {
    @include title;
  }
  &-items {
    flex-direction: column;
    row-gap: 32px;
  }
  &-item {
    transition: transform 0.4s;
    transform: translate(0);
    &:nth-child(2) {
      transition-delay: 0.25s; //! анимация карточек
    }
    &:last-child {
      transition-delay: 0.5s; //! анимация карточек
    }

    &__header {
      width: 100%;
      justify-content: space-between;
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      cursor: pointer;
      border-bottom: 2px solid $violet;
      padding-bottom: 8px;

      span {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2)
          ),
          #8c96a0;
        border-radius: 6px;
        width: 30px;
        height: 30px;

        &::before {
          font-size: 25px;
          content: "+";
          transition: transform 0.25s;
        }
      }
    }

    &__content {
      height: 0;
      opacity: 0;
      transition: heigth 0.25s, opacity 0.25s;
      p {
        font-size: 14px;
        padding-top: 13px;
        font-weight: 400;
        line-height: 17px;

        span {
          color: #ff4136;
        }
      }
    }
    &.opened {
      span {
        &::before {
          transform: rotate(45deg);
        }
      }
      .faq-item__content {
        opacity: 1;
      }
    }
  }
}
//!_____________________________________ faq

//!_______________________________________________________________ footer
.footer {
  margin-top: 150px;
  position: relative;
  padding-bottom: 20px;
  &::before {
    content: "";
    width: 786px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 20%;
    z-index: -1;
    background: url(../images/footer.png) no-repeat center/cover;
  }
  &-box {
    display: flex;
    flex-direction: column;
  }
  &-top {
    justify-content: space-between;
  }
  &-menu {
    column-gap: 22px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    transition: color 0.25s ease;
  }
  &-lang {
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    cursor: pointer;
    &:hover {
      .footer-lang__content {
        visibility: visible;
      }
    }
    span {
      text-transform: uppercase;
      color: $grey;
      margin-right: 5px;
    }

    &__curr {
      color: $white;
      text-transform: uppercase;
    }
    &__list {
      position: relative;
      &.footer-lang__content {
        visibility: visible;
      }
    }
    &__content {
      background: $dark;
      border-radius: 6px;
      padding: 10px;
      position: absolute;
      visibility: hidden;

      &-item {
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        transition: color 0.25s ease;

        &:hover {
          color: $violet;
        }
      }
    }
  }
  &-info {
    flex: 1 1 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: $grey;
    margin: 50px auto 50px auto;
    max-width: 700px;
  }
  &-icon {
    text-align: center;
  }
  &-year {
    margin: 20px auto 20px auto;
  }
  &-year,
  &-right {
    font-weight: 400;
    line-height: 19px;
    color: $grey;
    text-align: center;

    span {
      color: violet;
      text-decoration: underline;
    }
  }
  &-right {
    margin-top: 50px;
  }
}
//!______________________________________________________________footer

//!______________________________________________________________ swiper
.swiper {
  padding-bottom: 100px;
  &-pagination {
    position: absolute;
    right: 50%;
    background-color: #fff;
    width: 10px;
    height: 10px;
    &-bullet {
      background-color: #fff;
      width: 10px;
      height: 10px;
    }
  }
  &-slide {
    margin-right: 14px;
  }
  &-button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    background: #8c96a0;
    transition: all 0.5s ease;
    z-index: 9;
    border-radius: 6px;
    &:hover {
      background: $violet;
    }
    img {
      @include bg;
      width: 35%;
    }
    &-next {
      right: 47%;
    }
    &-prev {
      left: 47%;
    }
  }
  // &-button{
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   cursor: pointer;
  //   height: 32px;
  //   width: 32px;

  //   svg {
  //     fill: #ffff;
  //   }
  //   &-prev {
  //     left: 10%;
  //   }
  //   &-next{
  //     right: 10%;

  //     svg{
  //       transform: scale(-1, 1);
  //     }
  //   }
  // }
}
//!______________________________________________________________ swiper

//!______________________________________________________________ modal
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  &.opened {
    transform: all .5s;
    visibility: visible;
    opacity: 1;
  }
  &-wrapper {
    background-image: linear-gradient(180deg, #30373f 0%, #000000 99.82%);
    border-radius: 12px;
    padding: 32px;
    position: relative;

    &::before {
      width: 90%;
      height: 90%;
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      background: url(../images/modal.png) no-repeat center/cover;
    }
  }

  &-close {
    position: absolute;
    top: 12px;
    right: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #d9d9d9;
    cursor: pointer;
  }
  &-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $violet;
    margin-bottom: 10px;
  }
  &-sub-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
  &-version {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    margin-top: 5px;
  }

  &-descr {
    p {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #d9d9d9;
    }
  }
  &-total {
    font-weight: 500;
    width: 100%;
    justify-content: space-between;
    line-height: 17px;
    color: $white;

    &__price {
      font-size: 20px;
    }
  }
  &-submit {
    @include button;
    @include hoverViolet;
    width: 100%;
    justify-content: center;
  }
}
.form {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: space-between;
  width: 470px;

  &-group {
    width: calc(50% - 13px);

    &.full {
      width: 100%;
    }
    label {
      display: block;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 7px;
    }

    input {
      background: $dark;
      border-radius: 6px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      padding: 16px 14px;
      color: #d9d9d9;
      width: 100%;
    }
  }
  &-checkbox {
    position: relative;
    column-gap: 12px;

    .check {
      background: $dark;
      width: 25px;
      height: 25px;
      text-align: center;
      border-radius: 6px;
    }

    label {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: $white;
    }
    .red {
      color: #ff4136;
      font-weight: 800;
      text-decoration: underline;
    }
    input {
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;

      &:checked {
        & + .check {
          padding-top: 5px;
          &::before {
            content: "√";
          }
        }
      }
    }
  }
}
.overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;

  &.opened{
    visibility: visible;
    opacity: 1;
    z-index: 998;
  }
}
//!_______________________________ modal

//!_______________________________ animation
//? header
@keyframes move {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

//? dual
@keyframes gravity {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
